<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="botUsername" value=""/>
    <add key="botOauth" value=""/>
    <add key="channel" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
